.bouton {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ac56ff;
    color: #ac56ff;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.bouton:hover {
    background-color: #ac56ff;
    border-radius: 5px;
    border: 1px solid #ac56ff;
    color: #ffffff;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.row {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divAssDessa {
    width: 200px;
    padding: 3px;
    text-align: left;
}

.blocAD{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 2px;
}

/*
Perso CSS
 */

.caracs {
    background-color: red;
    width: 50px;
    text-align: center;
    color: white;
    margin-left: 150px;
    margin-bottom: -15px;
    padding: 5px;
    border-radius: 20px;

}

/*
Perso caracs CSS
 */

.perso {
    background-color: #eeeeee;
    width: 70%;
    height: 100%;
}

#box_image img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
}

#box_perso_g {
    background-color: #ac56ff;
    padding-left: 13px;
}

#box_perso_d {
    background-color: #d53f92;
}

