.bouton {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ac56ff;
    color: #ac56ff;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.bouton:hover {
    background-color: #ac56ff;
    border-radius: 5px;
    border: 1px solid #ac56ff;
    color: #ffffff;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.row {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divAssDessa {
    width: 200px;
    padding: 3px;
    text-align: left;
}

.blocAD{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 2px;
}

/*
Perso CSS
 */

.caracs {
    background-color: red;
    width: 50px;
    text-align: center;
    color: white;
    margin-left: 150px;
    margin-bottom: -15px;
    padding: 5px;
    border-radius: 20px;

}

/*
APP
 */


/*
Perso selector
 */
#perso_selector {
    width: 25%;
    padding: 3%;
    margin-left: 40%;
    margin-bottom: 10px;
    background-image: url("../assets/select.png");
    background-size: contain;
    background-repeat: no-repeat;

}

/*
Perso caracs CSS
 */

.perso {
    width: 69%;
    height: 100%;
    padding: 3%;
    border-radius: 5px;
    background-image: url("../assets/perso.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15%;

}

.perso table {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#box_image img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#box_perso_g {
    padding-left: 13px;
    width: 28%;
    font-family: Luminari;
    border-radius: 10px;
}

#box_perso_d {
    width: 72%;
    height: 100%;

}

#or {
    width: 50%;
    padding-right: 20px;
}

#or img {
    height: 60px;
}

#or p {
   margin-top: 25px;
   margin-right: -5px;
}

#orVie {
    display: flex;
    margin-bottom: -15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#vie {
    width: 50%;
    margin-top: 25px;
    display: flex;
    padding-left: 20px;
}

#vie img {
    height: 25px;
    margin-top: -3px;
    margin-left: 5px;
}

#box_perso_c {
    margin-bottom: 50px;
}

.box_perso_competence {
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/*
Perso slots
 */
#tab_equipement {
    height: 200px;
    border-radius: 5px;
    width: 70%;
    padding: 3%;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/tab.png");
    background-size: contain;
    margin-left: 15%;
}


#assign {
    background-repeat: no-repeat;
    background-image: url("../assets/fond_ops.png");
    background-size: contain;
    padding: 3%;
    margin-left: 6%;
}

/*
perso ops
 */
#persoops {
    background-repeat: no-repeat;
    background-image: url("../assets/fond_achat.png");
    background-size: contain;
    margin-left: 11%;
    margin-top: 5%;
    padding: 3%;
}

body {
    font-family: Papyrus;
    background-image: url("../assets/testdimfond.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

#stock {
    background-image: url("../assets/tableau.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 6px solid #795548;
}

#order {
    background-image: url("../assets/tableau.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid #795548;
}